body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 4px;
}

header {
    background-color: #434;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #3498db;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.team-member {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.team-member h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.team-member p i {
    font-style: italic;
    color: #666;
}

.team-member p:first-of-type {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

/* Image Styling */
.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px 0;
}

/* Bio Paragraph Styling */
.team-member p:last-of-type {
    font-size: 0.9em;
    color: #333;
    line-height: 1.4;
}


section.sponsor h2 {
    text-align: left;
    margin-bottom: 30px;
}

section.sponsor {
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.sponsor-box {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
}

.sponsor-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.sponsor-box h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.sponsor-box p i {
    font-style: italic;
    color: #666;
}

.sponsor-box p:first-of-type {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

.sponsor-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

.github-link {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.github-link > a {
    display: inline-block;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #2980b9;
}